body{
  background-image: url('final_pic.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div{
  height: 300px;
  width: 50%;
  /* border: 5px white double; */
  position: fixed;
  left: 180px;
  top: 90px;
}

@media (max-width: 1080px){
  body{
    background-image: url('final_pic_mobile.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  div{
    height: 410px;
    width: 60%;
    /* border: 5px white double; */
    position: fixed;
    left: 90px;
    top: 590px;
  }

  p{
      bottom: 10px;
  }

}

p{
  font-family: 'Raleway', sans-serif;
  /* color: #1C658C; */
  color: white;
  font-size: 65px;
  position: relative;
  left: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

p1{
  font-family: 'Raleway', sans-serif;
  color: #1C658C;
  font-size: 30px;
  position: relative;
  left: 10px;
  bottom: 15px;
  animation: mymove 2.5s /* fade-in animation */
}

p2{
  font-family: 'Raleway', sans-serif;
  color: #1C658C;
  font-size: 20px;
  position: relative;
  left: 10px;
  bottom: 10px;
  animation: mymove 2.5s /* fade-in animation */
}

p3{
  font-family: 'Raleway', sans-serif;
  color: #1C658C;
  font-size: 18px;
  position: relative;
  left: 10px;
  top: 7px;
  animation: mymove 2.5s /* fade-in animation */
}

/* FADE IN ANIMATION KEYFRAM FOR OPACITY TO GO FROM 0 to 1  WHERE mymove IS IDENTIFYER */
@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}
